@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    outline: none;
    transition: 0.5s all;
  }
  
  .styletext{
    font-family:Segoe print, Arial, Helvetica, sans-serif;
}
nav{
  z-index: 200;
}
.filter{
  border-top-right-radius: 25px;
}
::-webkit-scrollbar{
  width: 4px;
  z-index: 100;
  position: relative;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(0, 119, 255),cyan,rgb(8, 85, 251));
  border-radius: 20px;
}
 .imgupl:hover .trash{
  display: block;
 }
 img{
  background: transparent;
 }